{# src/ReconBundle/Resources/views/User/Situation.html.twig #} 

{% extends "header.html.twig" %} 

{% block title %}{{ title }}{% endblock %}

{% block body %}

<a href="../{{ id.id }}/1">En poste</a>
<a href="../{{ id.id }}/0">En recherche</a>
<div class="wrap form">
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
    <div>
        {{ form(form) }}
    </div>
    <p class="contact"><a href="../" class="btn">Retour à l'accueil</a></p>
</div>

{% endblock %}